:root {
  --font-inter: 'Inter', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  /* Базовые цвета */
  --color-white: #fff;
  --color-black: #000;

  /* Серые оттенки */
  --color-gray-200: #C7C7C7;
  --color-gray-400: #484848;
  --color-gray-700: #222222;
  --color-gray-800: #1A1A1A;
  --color-gray-900: #0A0A0A;

  /* Синяя палитра */
  --color-primary: #D3E97A;

  /* Красная палитра */
  --color-red-100: #fdf2fa;
  --color-red-500: #c11574;
  /* Радиусы */
  --border-radius-largest: 40px;
  --border-radius-lg: 16px;
  --border-radius-md: 12px;

  --gradient: linear-gradient(to right, var(--color-blue-700), var(--color-blue-300));
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-gray-900);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

/* General */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1268px), screen and (max-width: 1096px) {
  /* Базовые стили для всех маленьких экранов */
  .container {
    max-width: 1068px;
  }

  /* Условия для самых маленьких экранов */
  @media screen and (max-width: 1096px) {
    .container {
      max-width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
