.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-inter);
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  /* color: var(--color-blue-700); */
  color: #c7c7c7;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
