.logo {
  display: flex;
  align-items: center;
  height: 48px;
  font-family: var(--font-inter);
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #c7c7c7;
  cursor: pointer;
}
