.logo {
  display: flex;
  align-items: center;
  height: 48px;
  font-family: var(--font-inter);
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: -4px;
  color: var(--color-gray-200);
  cursor: pointer;
}
